.experience {
  padding: 0 20px;
}

.experience h3 {
  font-size: 24px;
  margin-top: 20px;
}

.experience h4,
.experience p {
  font-size: 18px;
}

.expdate {
  font-size: 16px;
}

.duties {
  display: grid;
  grid-template-columns: auto 2fr;
  column-gap: 0.5rem;
}

.duties svg {
  color: var(--pink-color);
  margin-top: 5px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .experience h3 {
    font-size: 1.25rem;
  }
}
