.hero {
  padding: var(--padding);
  color: var(--white-color);
  position: relative;
}

.hero h1,
.hero h2 {
  font-size: 2.688rem;
  font-weight: 700;
}

.hero p {
  font-weight: 200;
}

.btnSecondary {
  background-color: var(--pink-color);
  text-transform: capitalize;
  font-weight: 600;
  color: var(--white-color);
  letter-spacing: 0.8px;
  padding: 18px 30px !important;
  border-radius: 5px;
}

.btnSecondary:hover {
  background-color: #6c757d;
  color: var(--white-color);
}
