.project {
  padding: var(--padding);
}

.tech {
  background-color: transparent !important;
  border: 1px solid var(--gray-color);
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.8px;
}

.ptitle {
  font-size: 24px;
}

.pinfo {
  font-size: 18px;
  padding: 20px 0;
}

/* .ptech {
  word-spacing: 15px;
  font-size: 16px;
  font-weight: 300;
} */

.picons {
  padding-top: 80px;
}

.picons svg {
  color: var(--pink-color);
  font-size: 16px;
  margin-top: -2px;
  margin-right: 2px;
}

.picons a {
  color: var(--pink-color) !important;
  font-size: 15px;
}

.picons svg:hover,
.picons a:hover {
  color: var(--white-color) !important;
}
